---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/common/Card";

const pageName: string = "Projects"
const projects = await getCollection("projects");
---
<BaseLayout pageName={pageName}>
  <section class="flex flex-col justify-center">
    {
      projects
        .sort((a, b) => a.data?.order - b.data?.order)
        .map((project) => (
          <a
            class="p-4"
            href={project.data.link}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Card
              title={project.data.name}
              description={project.body}
              link={project.data.link}
              tags={project.data.languages}
            />
          </a>
        ))
    }
  </section>
</BaseLayout>
