---
import { getCollection } from "astro:content";

const { collectionName } = Astro.props;
const contents = await getCollection(collectionName);
---
<>
  {
    contents
      .sort((a, b) => a.data?.lastDate.getTime() - b.data?.lastDate.getTime())
      .map((contents) => (
        <article class="flex flex-col py-4">
          <h1 class="text-xl font-bold underline underline-offset-auto">
            <a
              href={contents.data.link}
              rel="_noopener noreferrer"
              target="_blank"
            >
              {contents.data.employer}
            </a>
          </h1>
          <p class="text-slate-500 dark:text-slate-400 text-sm">{contents.data.position}, {contents.data.dates}</p>
          <p>{contents.data.description}</p>
          <div class="py-2">
            <ul class="list-disc list-inside pl-4">
              {contents.body.trim().split("\n")
                .map((line) => (
                  <li>{line}</li>
                ))
              }
            </ul>
          </div>
        </article>
      )
    )
  }
</>
